# Ambiente virtual Python
.venv/
venv/
env/

# Arquivos Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Arquivos de dados
ranking.json

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# IDE
.vscode/
.idea/
*.swp
*.swo

# Flask
instance/
.webassets-cache
